* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #141c1c;
}

/* Question Page */
.header {
    position: fixed;
    z-index: 2;
    display: flex;
    height: 5em;
    width: 100%;
    background-color: #141c1c;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 5em;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 880px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-color: #e2b95d;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    height: 70px;
    margin: 5px;
    border-width: 5px;
    border-radius: 35px;
    border-style: solid;
    border-color: #e2b95d;
}

.answer:hover, .chosenAnswer {
    background-color: #f3e3be;
    cursor: pointer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
    border-radius: 25px;
    background-color: #e2b95d;
}

.button:hover {
    background-color: #f3e3be;
}

.b_left {
    border-radius: 25px 0px 0px 25px;
}

.b_right {
    border-radius: 0px 25px 25px 0px;
}

.icon {
    width: 1em;
    height: 1.2em;
    padding-left: 0;
    padding-right: 1em;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.content_wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_wrapper>div {
    margin-top: 2em;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    flex-direction: column;
}

.progress_bar {
    display: flex;
    width: 800px;
    height: 16px;
    background-color: #f3e3be;
    border-radius: 8px;
}

.progress_bar_begin {
    width: 10%;
    height: 16px;
    background-color: #e2b95d;
    border-radius: 10px;
}

/* Grade Page*/
.wrapper, .content_wrapper, .text_wrapper, .question_wrapper, .introduce_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    margin: 1em;
    flex-direction: column;
}


.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    width: 20em;
    height: 20em;
    background-color: rgb(233, 233, 233);
    margin: 0.5em;
    margin-top: 1em;
}

.text_wrapper {
    width: 62em;
    height: 12em;
    border-radius: 20px;
    background-image: url(https://cammy-marketing.s3.amazonaws.com/2015/02/1424795684/burglar-front-house-dark.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    border-style: solid;
    border-color: #141c1c;
}

#grade_circle, #medal {
    width: 18em;
    height: 18em;
    z-index: 1;
}

#grade, #top, #percent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
}

#grade {
    font-weight: bold;
}

#top {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.7em;
    z-index: 1;
}

#percent {
    left: 50%;
    top: 63%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: bold;
    z-index: 1;
}

.relative {
    position: relative;
}

.center {
    align-items: center;
}

.left {
    align-items: left;
    padding-left: 2em;
    width: 18em;
}

ul {
    padding: 0.5em 0 0 0;
    list-style: none;
}

ul li:before {
    content: '✓ ';
}

li {
    margin-bottom: 0.2em;
    font-size: 1.2em;
}

table {
    margin-top: 0.7em;
}

td {
    padding: 0.1em 0;
    font-size: 1.2em;
}

tbody>tr> :nth-child(2) {
    text-align: center;
    padding-right: 2em;
}

/* Suggestion Page */
.suggestion_wrapper {
    position: absolute;
    top: 1100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.suggestion_box {
    display: flex;
    width: 800px;
    justify-content: center;
    align-items: center;
}

.suggestion_image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 496px;
    box-shadow: -11px 0px 10px 8px rgba(0, 0, 0, 0.19);
    border-radius: 50px 0px 0px 50px;
}

.suggestion_text {
    display: flex;
    width: 500px;
    height: 400px;
    padding: 3em 0 3em 3em;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #f3e3be;
    box-shadow: 11px 0px 10px 8px rgba(0, 0, 0, 0.19);
    border-radius: 0px 50px 50px 0px;
}

.suggestion_main_text {
    margin-bottom: 0.5em;
    color: #b88205;
}

.suggestion_package_name {
    margin-bottom: 0.5em;
}

.insertPlace {
    width: 0;
    height: 0;
    flex: 0;
}

#suggestion_left_button {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 5%;
    top: 50%;
    width: 50px;
}

#suggestion_right_button {
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 95%;
    top: 50%;
    width: 50px;
}

#suggestion_right_button, #suggestion_left_button {
    transform: translate(-50%, -50%);
}

#suggestion_right_button:hover, #suggestion_left_button:hover {
    background-color: #eed089;
}

.background {
    position: absolute;
    top: 1100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background_img {
    display: flex;
    width: 66em;
    height: 400px;
    border-radius: 50px;
    box-shadow: -1px 0px 10px 8px rgba(0, 0, 0, 0.19);
    background-color: #f3e3be;
}

.call_button {

    display: flex;
    justify-content: center;
    width: 12.2em;
    padding: 20px 0px;
    border-radius: 40px;
    background-color: #e2b95d;
    margin-top: 2em;
    color: #fff;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
}

.call_button img {
    size: 2em;
}

.call_button:hover {
    background-color: #eed089;
}

.call-icon {
    flex: 1;
}

.button-text {
    flex: 4;
}

li {
    margin-bottom: 0.2em;
}

#littleUpperPadding {
    height: 5em;
}

#padding {
    height: 800px;
    width: 100%;
    margin-bottom: 3em;
}

#vivintButton {
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    border-radius: 30px;
    margin-top: 0.5em;
    background-color: #141c1c;
    color: white;
    z-index: 1;
}

#vivintButton:hover {
    background-image: url(https://www.freeiconspng.com/thumbs/white-arrow-png/white-down-arrow-png-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

a {
    text-decoration: none;
}

.small-text {
    font-size: 12px;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.big-text {
    font-size: 36px;
    line-height: 42px;
    font-weight: bold;
}

.slide_click_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 18px;
    color: white;
    background-color: #141c1c;
    cursor: pointer;
}

.slide_click_button:hover {
    background-color: #bfc7c7;
}

/*Slide Show*/
.slide_introduce, .slide_button {
    display: flex;
    flex: 1;
    justify-content: center;
}

.slide_introduce {
    padding: 5% 0px 5% 15%;
    align-items: left;
    flex-direction: column;
}

.slide_button {
    margin-right: 5%;
    justify-content: right;
}

.slide_button>div {
    margin-left: 10px;
}

.slideShow {
    width: 100%;
    height: 456px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5em;
}

.slides {
    position: absolute;
    left: 0;
    top: 0;
    width: 2500px;
    margin-left: 5%;
    transition: left 0.5s ease-out;
}

.slides .slide {
    float: left;
    margin-right: 25px;
}

.slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 390px;
    border-radius: 20px;
    background-color: #edf2f2;
    padding: 30px 20px;
    cursor: pointer;
}

.slide:hover {
    background-color: #e3e8e8;
}

.slide img {
    height: 280px;
    margin-bottom: 40px;
}

.slide_main_text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin: 0 auto 20px;
    color: #141c1c;
}

.single_link {
    color: #5f7775;
    font-size: 21px;
    font-weight: bold;
}

.single_link:hover {
    color: #798e8c;
}

