* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    width: 100%;
}

body>div {
    margin: 0 0 20px 0;
}

.header {
    margin: 0;
    height: 5em;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141c1c;
    position: fixed;
}

.logo {
    height: 5em;
}

.wrapper {
    padding: 0;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.check_home_safety_wrapper{
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 947px;
    height: 450px;
    overflow: hidden;
    background-color: #edf2f2;
}

.safety_content {
    display: flex;
    width: 447px;    
    flex-direction: column;
    align-items: left;
    text-align: left;
    padding: 0 0 0 1em;
}

.image-mask {
    width: auto;
    height: auto;
    display: flex;
    width: 500px;
    height: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 250px 250px 0;
    overflow: hidden;
    object-fit: cover;
}

.image-left{
    width: auto;
    
}
.find_my_plan_wrapper {
    display: flex;
    background-image: url(https://www.vivint.com/sites/default/files/styles/desktop_1600_hq/public/image/2021-10/HomeTest-ODCStory-1600_0.png.webp?itok=OnmaAO0u);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #edf2f2;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 947px;
    height: 509px;
}

.big-text-s {
    font-size: 2em;
    margin-bottom: 1.7em;
    font-weight: bold;
}

.small-text-s {
    font-size: 0.7em;
    margin-bottom: 1em;
    letter-spacing: 0.2em;
}

.extra-text-s {
    display: flex;
    font-size: 4px;
    letter-spacing: 0.2em;
}

.big-text-s, .small-text-s, .extra-text-s {
    font-weight: bold;
}

.plan_content {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    flex: 3;
    padding: 0 0 0 4em;
}

.big-padding-top {
    padding-top: 4em;
}

.small-padding-bottom {
    padding-bottom: 2em;
}

.content-wrapper {
    padding: 0;
    background-image: url(https://cdn.optimizely.com/img/12265111463/d81bc52566104ee287079fa3659b1a2a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    object-fit: scale-down;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    flex: 2;
    padding: 12em 0em 8em 8em;
    color: #fff;
}

.empty {
    display: flex;
    flex: 3;
    align-items: center;
}

.icon {
    width: 1em;
    height: 1.2em;
    padding-left: 0;
    padding-right: 1em;
}

.button {
    display: flex;
    justify-content: center;
    width: 12.2em;
    padding: 20px 0px;
    border-radius: 40px;
    background-color: #e2b95d;
    margin-bottom: 1em;
    color: #fff;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: bold;
}

.button img {
    size: 2em;
}

.button:hover {
    background-color: #eed089;
}

.call-icon {
    flex: 1;
}

.button-text {
    flex: 4;
}


.big-text {
    font-size: 2em;
    margin-bottom: 1.7em;
    font-weight: bold;
}

.small-text {
    font-size: 0.7em;
    margin-bottom: 1em;
    letter-spacing: 0.2em;
}

.extra-text {
    display: flex;
    font-size: 4px;
    letter-spacing: 0.2em;
}

.big-text, .small-text, .extra-text>a {
    color: #fff;
}

.banner {
    display: flex;
    position: fixed;
    text-decoration: none;
    bottom: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 5em;
    background-color: #80332e;
    margin-bottom: 0;
}

.text-box {
    padding: 1em;
    font-size: 1.5em;
    color: #fff;
}

.timer {
    display: flex;
    justify-content: center;
}

.time-box {
    display: flex;
    width: 4em;
    height: 4em;
    border-radius: 5px;
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #000;
    background-color: #fff;
    flex-wrap: nowrap;
    line-height: 1.3em;
    font-weight: bold;
}

.time-box p {
    padding-top: 0.4em;
    font-size: 1.6em;

}

.time-box span {
    font-size: 0.8em;
    color: #505050;
}

@media only screen and (max-width:360px) {
    .header {
        height: 4.5em;
    }

    .logo {
        height: 4.5em;
    }

    .content-wrapper {
        background-image: url(https://cdn.optimizely.com/img/12265111463/a59dc44d7000439d95d7ddf3f072ff90.jpg);
        background-size: cover 700px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 6em;
        /*change a height, flex-direction*/
    }

    .content {
        width: 100%;
        padding: 7em 0 0 0;
        align-items: center;
    }

    .small-text {
        align-items: center;
        font-size: 0.5em;
    }

    .big-text {
        align-items: center;
        text-align: center;
        font-size: 1.6em;
        font-weight: 400;
        margin-bottom: 1.3em;
    }

    .button {
        width: 10em;
    }

    .icon {
        width: 1em;
        height: 1em;
        position: relative;
        left: 12px;
        top: 6px;
    }

    .extra-text {
        flex-direction: column;
        align-items: center;
    }

    .empty {
        flex: 0;
        width: 0;
        height: 0;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 9em;
        background-color: #80332e;
        margin-bottom: 0;
        line-height: 0em;
    }

    .text-box {
        padding: 0.4em 0 1em 0;
        font-size: 1em;
        color: #fff;
    }

    .timer {
        display: flex;
        justify-content: center;
    }

    .time-box {
        display: flex;
        width: 4em;
        height: 4em;
        border-radius: 5px;
        margin: 0.22em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        flex-wrap: nowrap;
        line-height: 1.3em;
    }

    .time-box p {
        padding-top: 0.4em;
        font-size: 1.6em;
        font-weight: bold;
    }

    .time-box span {
        font-size: 0.9em;
    }
}

@media only screen and (min-width:361px) and (max-width:767px) {
    .header {
        height: 4.5em;
    }

    .logo {
        height: 4.5em;
    }

    .content-wrapper {
        background-image: url(https://cdn.optimizely.com/img/12265111463/b2e16202c5d749f996fd6ef186f9ea8f.jpg);
        background-size: cover 600px;
    }

    .content {
        padding: 4em 0em 8em 1.5em;
        color: #fff;
    }

    .empty {
        flex: 0;
    }

    .button {
        width: 10.2em;
        padding: 20px 20px;
        border-radius: 40px;
        margin-bottom: 1.4em;
        color: #fff;
        font-size: 1.2em;
    }


    .big-text {
        font-size: 1.9em;
        margin-bottom: 1em;
    }

    .small-text {
        font-size: 0.7em;
        margin-bottom: 1.5em;
        letter-spacing: 0.2em;
    }

    .extra-text {
        font-size: 1px;
        letter-spacing: 0.2em;
    }

    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 9em;
        background-color: #80332e;
        margin-bottom: 0;
        line-height: 0em;

    }

    .text-box {
        padding: 0.7em 0 0.6em 0;
        font-size: 1.2em;
        color: #fff;
    }

    .timer {
        display: flex;
        justify-content: center;
    }

    .time-box {
        display: flex;
        width: 4em;
        height: 4em;
        border-radius: 5px;
        margin: 0.5em;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #fff;
        flex-wrap: nowrap;
        line-height: 1.3em;
    }

    .time-box p {
        padding-top: 0.4em;
        font-size: 1.6em;
        font-weight: bold;
    }

    .time-box span {
        font-size: 0.5em;
    }
}

@media only screen and (min-width:768px) and (max-width:1200px) {
    .content {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        flex: 2;
        padding: 8em 0em 8em 4em;
        color: #fff;
    }

    .big-text {
        font-size: 1.8em;
    }
}



video {
    width: 100%;
}

.video-mask {
    width: 947px;
    position: relative;
    z-index: -1;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

.video-text {
    position: absolute;
    z-index: 0;
    width: 600px;    
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

#video1 {
    top: 1520px;
}

.padding {
    margin-bottom: 6em;
}