* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    height: 5em;
    width: 100%;
    background-color: #141c1c;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 5em;
}

.content_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content_wrapper > div {
    margin-top: 2em;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    flex-direction: column;
}

.question_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 600px;
    margin: 100px;
    border-radius: 50px;
    background-color: #e7e7e7;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 880px;
    height: 80px;
    margin: 10px;
    border-radius: 40px;
    background-color: #e2b95d;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 870px;
    height: 70px;
    margin: 5px;
    border-width: 5px;
    border-radius: 35px;
    border-style: solid;
    border-color: #e2b95d;
}

.answer:hover, .chosenAnswer {
    background-color: #f3e3be;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 40px;
}

.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 50px;
    border-radius: 25px;
    background-color: #e2b95d;
}

.left {
    border-radius: 25px 0px 0px 25px;
}

.right {
    border-radius: 0px 25px 25px 0px;
}

.button:hover {
    background-color: #f3e3be;
}
.progress_bar{
    display: flex;
    width: 800px;
    height: 16px;
    background-color: #f3e3be;
    border-radius: 8px;
}
/*change width in javascript*/
.progress_bar_begin {
    width: 30%;
    height: 16px;
    background-color: #e2b95d;
    border-radius: 10px;
}
